<div class="jumbotron">
  <h1 class="text-center">GalvaoPicture</h1>
</div>
<div class="container">
  <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="input-group">
          <span class="input-group-btn">
            <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a>
          </span>
          <input #typedText (keyup)="0" class="form-control" placeholder="Filtrar por titulo">
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <painel *ngFor="let foto of fotos | filterByTitle: typedText.value" titulo="{{foto.titulo}}" class="col-md-2">
      <a [routerLink]="['/cadastro', foto._id]">
        <foto url="{{foto.url}}" title="{{foto.titulo}}"></foto>
      </a>
      <btn nome="Remover" estilo="btn-danger btn-block" (action)="remove(foto)" confirmation="true"></btn>
    </painel>
  </div>
</div>
